.design-type-title {
    width: 90%;
    padding-top: 10px;
    padding-left: 50px;
    margin-top: 75px;
    font-size: 26px;
    font-weight: 700;
}

.design-type-description {
    width: 90%;
    padding-left: 50px;
    margin-bottom: 50px;
    font-size: 22px;
    font-weight: 500;
}